{% extends "core/base.html" %}

{% block content %}
    <!--About-->
    <div id="authors" class="container5">
        <div class="row">
            <div class="col-md-4">
                <div class="author-info">
                    <img src="{{author.profile.image.url}}" alt="Author Photo">
                    <div class="author-name">
                        <p>{{author.username}}</p>
                    </div>
                </div>
            </div>
            <div class="col-md-8">
                <div class="author-details">
                    <p><strong>{{author.profile.full_name}}</strong></p>
                    <li><small>{{author.profile.country}}, {{author.profile.city}}</small></li>
                    <li>{{author.profile.bio}}</li>
                    <li class="mb-2">Жұмыс орыны: {{author.profile.working_at}}</li>
                    <ul>
                        <li>{{author.profile.about}}</li>
                        <p><button class="icon-button" onclick="window.open('https://instagram.com/{{ profile.instagram }}', '_blank')">
                            <i class="fa-brands fa-instagram fa-2x"></i>
                        </button>
        
                            <button class="icon-button" onclick="window.open('https://wa.me/{{ profile.whatsapp }}', '_blank')">
                                <i class="fa-brands fa-whatsapp fa-2x"></i>
                            </button>
                        
                            <button class="icon-button" onclick="window.open('https://t.me/{{ profile.telegram }}', '_blank')">
                                <i class="fa-brands fa-telegram fa-2x"></i>
                            </button>
                        </p>
                    </ul>
                    <a href="#" class="btn btn-primary">Авторға жазылу</a>
                </div>
            </div>
        </div>
    </div>
    <!--About end-->


    <!--Posts-->
    <div id="posts" class="container">
        <h1>Посттар</h1>
        
        <div class="row">
            {% for post in posts %}
                <div class="col-md-3 post-item" data-category="{% for category in post.category.all %}{{ category.name }} {% endfor %}">
                    <div class="card">
                        <img class="card-img-top" src="{{ post.image.url }}" alt="Card image cap">
                        <div class="card-body">
                            <p class="card-text">{{ post.title }}</p>
                            <p class="card-text">
                                {% for category in post.category.all %}
                                    {{ category.name }}
                                {% if not forloop.last %}, {% endif %}
                                {% endfor %}
                            </p>
                            <a href="{% url 'core:post' post.slug %}" class="btn btn-outline-dark btn-sm">Толығырақ</a>
                        </div>
                    </div>
                </div>
            {% empty %}
                <div class="col">
                    <p>No posts available</p>
                </div>
            {% endfor %}
        </div>
    </div>
    <!--Posts end-->

{% endblock content %}

